
<header>

  <div>LOGO</div>

  <nav class="navigation">
    <ul class="list">
      <li class="item">
        <a [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active" routerLink="/">HOME</a>
      </li>

      <li class="item">
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/products">ТОВАРИ</a>
      </li>

      <li class="item">
        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/contacts">Контакти</a>
      </li>

    </ul>
  </nav>

</header>
